@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Optik.Models.ViewModels.ProductsViewModel

<h2>Продукти</h2>
<form asp-action="Index" method="post" class="mb-4">
    <div class="form-row row">
        <div class="col-md-4">
            <input asp-for="@Model.searchQuery" value="@(Model.searchQuery == null ? string.Empty : Model.searchQuery)" class="form-control" placeholder="Търсене..." />
        </div>
        <div class="col-md-3">
            <input asp-for="@Model.StartPrice" value="@(Model.StartPrice == 0 ? string.Empty : Model.StartPrice)" class="form-control" placeholder="Минимална цена" type="number" />
        </div>
        <div class="col-md-3">
            <input asp-for="@Model.EndPrice" value="@(Model.EndPrice == 0 ? string.Empty : Model.EndPrice)" class="form-control" placeholder="Максимална цена" type="number" />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary btn-block">Търсене</button>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Title">
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">@product.Description</p>
                    <p><strong>Цена: $@product.Price</strong></p>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete"
                           asp-route-id="@product.Id"
                           class="btn btn-outline-danger btn-sm mt-2">
                            Изтриване
                        </a>
                    }
                    
                    @if (User.IsInRole("Patient"))
                    {
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit" class="btn btn-success">Добавяне в количката</button>
                        </form>
                    }
                    else
                    {
                        <p class="text-muted"><em>Влезте в пациенски профил, за да добавите в количката.</em></p>
                    }
                </div>
            </div>
        </div>
    }
</div>